* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.main {
  background: url(../img/back.jpg) no-repeat;
  background-size:  cover;
  background-position:left center;

  height: 100vh;
}

.bio {
  background-color: black;
  height: 50vh;
}

.coaching {
  height: 50vh;
}

.contact{
  background: black;
  height: 50vh;
}

.info{
  padding-top: 14%;
padding-left: 11%;}
h1 {
  font-size: 3rem;
font-family: 'Lora', serif;
  letter-spacing: 5px;
}
h2{
  margin: -3% 0 0 11%;
}
