$color-bg: rgb(241, 243, 245);
$color-text: rgb(113, 113, 113);
$main-bg: rgb(255, 255, 255);
$color-light-gray: rgb(243, 243, 243);
$color-gray: rgb(201, 201, 201);
$color-drag: rgb(171, 134, 208);
$color-drag-circle: rgb(200, 168, 231);
$ff: 'Open Sans', sans-serif;
$temp-color: rgb(150, 72, 123);
$color-input-active: rgb(0, 108, 255);
