* {
  box-sizing: border-box;
}



.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}



/* main menu */
.main {
  background: url("../img/back.jpg") no-repeat;
  background-size: cover;
  background-position: left center;
  height: 100vh;

  ul {
    margin-top: 0;
    padding-top: 20px;
    list-style: none;

    li {
      display: inline-block;
      margin-left: 20px;
      transition: 1s all;
      &:hover {
                transform: translateY(-5px);
      }

      a {
          // font-family: 'Lora', serif;
        color: black;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 2px;
        text-decoration: none;
        padding-bottom: 5px;
        &:hover {
          color: rgb(133, 133, 133);
        }
      }
    }
  }
}

.bio {
  background-color: black;
  height: 50vh;
  color: white;
}

article{
  display: flex;
  flex-direction: column;
  padding:40px 20%;
  p {
    font-size: 1.3rem;
    margin: 30px;
  }
}

.coaching {
  height: 50vh;
}

.contact {
  background: black;
  height: 50vh;
  color: white;
}

.info {
margin: 12% 0 0 6%;
  height: 200px;
  width: 50%;
  background: url('../img/lukas.png') no-repeat;
  background-position: center;
  background-size: contain;
}

h1 {
  font-size: 3rem;
  // font-family: 'Lora', serif;
  letter-spacing: 5px;
}

h2 {
  margin: 0 auto;
}
