* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

// header {
//   position: fixed;
//   top:0;
// }

/* main menu */
.main {
  background: url("../img/back.jpg") no-repeat;
  background-size: cover;
  background-position: left center;
  height: 100vh;

  ul {
    margin-top: 0;
    padding-top: 20px;
    list-style: none;

    li {
      display: inline-block;
      margin-left: 20px;
      transition: 1s all;

      &:hover {
        transform: translateY(-5px);
      }

      a {
        // font-family: 'Lora', serif;
        color: black;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 2px;
        text-decoration: none;
        padding-bottom: 5px;

        &:hover {
          color: rgb(133, 133, 133);
        }
      }
    }
  }
}

section {
    height: 100vh;
}



article {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
padding: 5%;
  p {
    font-size: 1.3rem;
    margin: 16px 11px;
    line-height: 1.6;
  }
}
.bio {}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  background: url('../img/luk2.png') no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}



.img2 {
  background: url('../img/luk1.png') no-repeat;
  background-position: center;
  background-size: cover;
}

.coaching {
  background: black;
  color: white;
}

.contact {}

.info {
  margin: 12% 0 0 6%;
  height: 200px;
  width: 50%;
  background: url("../img/lukas.png") no-repeat;
  background-position: center;
  background-size: contain;
}

h1 {
  font-size: 3rem;
  // font-family: 'Lora', serif;
  letter-spacing: 5px;
}

h2 {
  font-size: 1.7rem;
  margin: 0 auto;
}

 h3 {
     font-size: 1.2rem;

 }
